*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: block;
    justify-content: center;
    background-color: rgb(248, 242, 234);
    padding: 32px;
    max-width: 900px;
    margin: 56px 24px;
}

header{
    text-align: center;
    margin: 32px 0;
}

form{
    margin: 32px 0 ;
    display: flex;
    justify-content: center;
}

form input{
    padding: 8px;
    font-size: 18px;
}

form button{
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    font-weight: bold;
}

ul{
    margin: 32px 0;
    text-align: center;
    list-style: none;
}

ul li{
    padding: 4px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
